boto3
bleach
celery
channels
channels-redis
daphne
Django
django-cors-headers
django-countries
django-extensions
django-filter
django-on-heroku
django-rest-passwordreset
django-rest-swagger
django-storages
djangorestframework
djangorestframework-simplejwt
dj-database-url
drf-spectacular
drf-yasg
gunicorn
librosa
llama-index
markdown
numpy
openai
pandas
Pillow
pyautogen
pydub
pymongo
pyspellchecker
python-decouple
python-dotenv
python-Levenshtein
